<div>
  <h1>¿Qué me parece Angular?</h1>
  <article>
    <p>BlablablaBlablablaBlablablaBlablablablablaBlablablaBlablablaBlablaablablaBlablablaBlablablaBlablaaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlabl</p>
    <p>BlablablaBlablablaBlablablaablablaBlablablaBlablablaBlablaablablaBlablablaBlablablaBlablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlabl</p>
    <p>BlablablaBlablablaBlabablablaBlablablaBlablablaBlablaablablaBlablablaBlablablaBlablalablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlabl</p>
    <p>BlablablaBlablablaablablaBlablablaBlablablaBlablaablablaBlablablaBlablablaBlablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlabl</p>
    <p>BlablablaBlablablaablablaBlablablaBlablablaBlablaablablaBlablablaBlablablaBlablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlabl</p>
    <p>BlablablaBlablablaablablaBlablablaBlablablaBlablaablablaBlablablaBlablablaBlablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlabl</p> <p>BlablablaBlablablaablablaBlablablaBlablablaBlablaablablaBlablablaBlablablaBlablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlabl</p>
  </article>
  @defer (on viewport) {
    <app-comments></app-comments>
  } @placeholder {
    <p>.</p>
  } @loading {
    <p>Cargando comentarios...</p>
  }
</div>
<!-- <router-outlet></router-outlet> -->